body{
    margin: 0;
}

.report-header{
    background-color: white;
    padding: 2%;
    text-align: center;
}

.report-header h1{
    margin: 0;
    color: rgb(29, 175, 180);
}

.report-dateTime{
    background-color: white;
    padding: 2%;
    color: rgb(84, 17, 184);
}

.report-dateTime h3{
    margin: 0;
}

.report-year{
    background-color: white;
    padding: 2%;
    text-align: center;
}

.report-year h2{
    margin: 0;
}

.report-month{
    background-color: white;
    padding: 2%;
    text-align: center;
}

.report-month h2{
    margin: 0;
}

.report-month-table{
    padding: 1%;
}

.report-table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background-color: rgb(1, 148, 116);
    color: white;
    border: 1px solid black;
    padding: 0.5%;
}