* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  height: 100vh;
}

.navbar {
  background-color: #00000013 !important;
}
.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

/* transaction page */

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}

/* transaction page */

/* antd icons*/
.switch-icon {
  border: 1px solid rgba(0, 0, 0, 0.592);
  border-radius: 5px;
  padding: 10px 15px;
}

.anticon svg {
  font-size: 20px;
  cursor: pointer;
}

.active-icon {
  color: black;
}
.inactive-icon {
  color: gray;
}
